@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Référence couleurs*/
:root {
    --yellow-color: #FFFF00;
    --yellow-light: #F8F184;
    --white-color: #FFFFFF;
    --blue-color: #19587D;
    --gradient-white: #EDDEBF;
    --gradient-red: #890008;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 400;
}

button {
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
}

.up-bar {
    border-top: gray 2px solid;
    position: relative;
    top: 132px;
    width: 85%;
    left: 102px;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

ul {
    list-style: none;
}

nav ul a {
    color: var(--white-color);
    font-family: 'Rajdhani';
    font-size: 30px;
    font-weight: 500;
}

nav ul a:hover {
    color: var(--yellow-color);
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 230px;
}

.scroll .social {
    margin-top: 15px;
}

/* Hero */
#hero {
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: var(--blue-color);
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

#hero .titre {
    margin: 20px 0;
}

.btn {
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 20px;
    background : linear-gradient(
        80deg, var(--gradient-white), var(--gradient-red)
    )
}

#hero .fleche {
    display: block;
    margin: 0 auto;
    margin-top: 285px;
}

/* Batman personnage */
.bat-perso {
    display: flex;
    justify-content: space-between;
}

#batman-cinema, #nemesis, #allies, #justice-league {
    margin-top: 40px;
}

#batman-cinema .titre, #nemesis .titre, #allies .titre, #justice-league .titre {
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0;
}

#batman-cinema .description, #nemesis .description, #allies .description, #justice-league .description {
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 23px;
}

#batman-cinema .perso-info {
    text-align: center;
}

/* Multimédia */
#multimedia .slider-multimedia {
    display: flex;
    width: 60%;
    margin: 40px auto;
}

#multimedia .slider-image {
    width: 100%;
}

#multimedia .slider-content {
    padding: 15px;
    background-color: gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#multimedia button {
    position: relative;
    top: 155px;
    background: none;
    border: none;
}

#multimedia button.btn-right {
    right: -85%;
}

#multimedia p {
    font-size: 14px;
}

#multimedia .yellow {
    color: var(--yellow-color);
}

/* Contact - Formulaire */
#contact {
    background-color: darkslategray;
    padding: 70px 0;;
}

#contact .form {
    width: 50%;
    margin: 0 auto;
}

#contact h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

#contact .titre1 {
    display: block;
    margin: 28px 0;
}

#contact .form input[type='email'], textarea {
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid gray;
    background-color: transparent;
    padding: 10px 0;
}

#contact .icon img {
    width: 20px;
}

#contact .news {
    margin: 15px 0;
    border-bottom: 2px solid gray;
}

.btn-group {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.btn-group label {
    cursor: pointer;
    border: 2px solid;
    padding: 10px;
    border-image: linear-gradient(
        69deg, red, blue
    ) 1;
}

.form input[type='radio'] {
    opacity: 0;
}

input[type='submit'] {
    display: block;
    width: 230px;
    margin: 25px auto;
    padding: 15px 0;
    cursor: pointer;
    background : linear-gradient(
        80deg, var(--gradient-white), var(--gradient-red)
    )
}

/* Replique */
#replique {
    margin: 90px;
}

#replique .replique-carte {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#replique .replique-auteur {
    padding-top: 30px;
    font-size: 14px;
    font-family: 'Rajdhani';
}

#replique .guillemet-close {
    float: right;
}

/* Footer */
footer {
    margin-top: 200px;
}

footer .text-footer {
    text-align: center;
    font-size: 14px;
}

footer .social-footer {
    text-align: center;
    margin: 50px 0;
}

footer .social-item {
    padding: 15px;
}